body{
  background-color: white;
  font-family: 'Montserrat', sans-serif;
}

nav{
  background-color: rgb(247, 247, 247);
  display: flex;
  justify-content: center;
  padding: 5px;
  flex-wrap: wrap;
  position: fixed;
  top:0px;
  z-index: 100;
  width: 100%;
  border-bottom: #FD841F 1px dashed;
}
.link{
  padding: 10px 40px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.marginTop{
  margin-top: 60px;
}

.bolder{
  font-weight: bolder;
}

.bolderColor{
  color: #CD104D;
  font-size: 25px;
  font-weight: bold;
}

.container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.centerDiv{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.centerDivColumn{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  color: #CD104D;
  font-size: 30px;
  text-align: center;
  font-weight: lighter;
}

h2{
  margin: 5px;
  font-weight: lighter;
}

/* -------------------------------------------------------------------главная----------------------------------------------------------------- */
.LinkName{
  position: relative;
  margin-top: 50px;
  text-transform: uppercase;
}
.nameLink{
  text-decoration:overline;
  position: absolute;
  width: 210px;
  padding: 10px;
  font-size: 17px;
  background-color: white;
  font-weight: bold;
  color: #CD104D;
  top:150px;
  left: -20px;
}

.usePromo{
  background-color:#9C2C77 ;
  padding: 5px;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  min-width: 30px;
}
.usePromo:hover{
  background-color:#CD104D;
  transition: 0.5s;
}

.gift{
  position: absolute;
  bottom: 3px;
  border-bottom: none;
  border-top: none;
  width:60px;
}

.mainImg{
  width:200px;
  height: 300px;
}

/* ---------------------------------------------------------------------каталог--------------------------------------------------------------- */

.filterDiv{
  background-color: #0000000b;
  flex-wrap: wrap;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  text-align: center;
}

.card{
  background-color: #0000000a;
  border:solid #FD841F 1px;
  border-radius: 5px;
  text-align: center;
  margin: 5px;
  padding: 5px;
  width: 370px;
}

.imgShop{
  width: 280px;
  height: 410px;
}
/* -----------------кнопки разные-------------------- */

.descriptionBtn,.slideBtn{
  color:#9C2C77 ;
  border: 1px solid #9C2C77;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  text-transform: uppercase;
}
/* --------------------кнопки логин-------------- */
.log{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin: 5px;
  width: 70px;
  background-color:  #9C2C77;
  border: none;
  color: white;
  padding: 5px;
  border-radius: 5px;
}
.log:hover{
  background-color: #CD104D;
}
/* --------------------кнопки категорий-------------- */
.categoryButtonSelected{
  margin: 5px;
  width: 140px;
  background-color:  #9C2C77;
  border: 1px solid #9C2C77;
  color: white;
  padding: 5px;
  border-radius: 5px;
}
.categoryButton:hover {
  background-color:  #9c2c778d;
}
.categoryButton {
  margin: 5px;
  width: 140px;
  border: 1px solid #9C2C77;
  padding: 5px;
  border-radius: 5px;
}
/* -------------кнопки сортировки----------------- */
.sortBtn{
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.712);
  border: 1px solid #000000;
  padding: 5px;
  border-radius: 5px;
}
.sortBtn:hover{
  background-color: #0000001a;
}

/* -------------------- кнопки размера-------------- */
.sizeBtnDiv{
  margin-left: 10px;
  margin-right: 10px;
}

.radio input {
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: 10px 0 0 7px;
}
.radio__text {
	position: relative;
	padding: 0 0 0 35px;
	cursor: pointer;
}
.radio__text:before {
	content: '';
	position: absolute;
	top: -3px;
	left: 0;
	width: 22px;
	height: 22px;
	border: 1px solid #CDD1DA;
	border-radius: 50%;
	background: #FFF;
}
.radio__text:after {
	content: '';
	position: absolute;
	top: 1px;
	left: 4px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #FD841F;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
	opacity: 0;
	transition: .2s;
}
.radio input:checked + .radio__text:after {
	opacity: 1;
}
.radio input:focus + .radio__text:before {
	box-shadow: 0 0 0 3px #9c2c7711;
}

.divSize{
  border: 1px solid rgba(0, 0, 0, 0.155);
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  min-width: 50px;
  text-align: center;
}

/* -----------------------------------------------------------------корзина----------------------------------------------------------------- */
.shopSmallBtn{
  border: none;
  font-size: 25px;
  background-color: #ffffff00;
  color: #9C2C77;
}
.shopSmallBtn:hover{
  color: #FD841F;
  transition: 0.5s;
}

.smallImg{
  width: 50px;
}

.korzinaDiv{
  display: flex;
  border-top: 1px solid #FD841F;
  min-height: 100px;
  align-items: center;
  justify-content: space-between;
}
.baby{
  flex:1
}

.centerDivBtn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
/* -----------------промо-код-------------- */

.inputPromo{
  font-size: 17px;
  border-radius: 5px;
  padding: 3px;
  border: 1px solid #9C2C77;
  margin-right: 3px;
}

.pay{
  border-radius: 5px;
  padding: 15px;
  min-width: 300px;
  background-color: white;
}

.payDiv{
  border-radius: 5px;
  padding: 7px;
  border: none;
  margin: 3px;
  background-color: #9c2c7740;
  max-width: 450px;
  color: white;
}

.payCartDiv{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}

/* -----------------------------------------------------------------адаптация------------------------------------------------------------------- */
@media all and (max-width:500px){

.imgShop{
    width: 200px;
    height: 300px;
}
.LinkName{
    position: relative;
    margin: 10px;
    text-transform: uppercase;
}
.mainImg{
    width: 150px;
    height: 200px;
}

.nameLink{
    width: 170px;
    font-size: 15px;
    font-weight: lighter;
    color: #CD104D;
    top:100px;
    left: -20px;
}

.gift{
    right:10px;
}

.card{
    width: 350px;
}

.smallImg{
    width: 35px;
}

  
.centerDivBtn{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.link{
  padding: 5px 15px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.marginTop{
  margin-top: 80px;
}

}

